<div class='row'>
  <div class='col-md-8 col-md-offset-1'>
    <div id='profile'>
      <% if @user.profile.icon.attached? %>
        <%= image_tag @user.thumbnail('180x180^', '180x180+0+0'), class: "img-circle"%>
      <% else %>
        <%= image_tag 'no-image.png', :size => '180x180', class: 'img-circle' %>
      <% end %>
      <div class=col-md-2></div>
      <div id='user-profile' class='col col-md-offset-1'>
        <div>
          <div class='user-upper'><h3><%= @user.username %></h3></div>
          <div class='user-upper setting'><p><%= link_to 'プロフィールを編集', edit_profile_path, class: 'btn btn-default btn-sm' %></p></div>
        </div>
        <div>
          <div class='user-middle'>投稿<%= @user.posts.size %>件</div>
          <div class='user-middle'>フォロワー</div>
          <div class='user-middle'>フォロー</div>
        </div>
        <div>
          <p><%= @user.profile.name %></p>
          <p><%= @user.profile.biography %></p>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-12 profile_bar'>
    <% @posts.each do |post|%>
      <div class='col-md-4 user-post'>
        <%= link_to image_tag(post.thumbnail('320x320^', '320x320+0+0')), post_path(post) if post.image.attached? %>
      </div>
    <% end %>
  </div>
</div>
