<div class='row'>
  <div class='col-md-8'>
    <div class='posts-feed'>
      <% @posts.each do |post|%>
        <article class='post-feed'>
          <header class='post-header'>
            <% if post.user.profile.icon.attached? %>
              <%= image_tag post.user.thumbnail('40x40^', '40x40+0+0'), class: "img-circle"%>
            <% else %>
              <%= image_tag 'no-image.png', :size => '40x40', class: 'img-circle' %>
            <% end %>
            <b><%= link_to post.user.username, user_path(post.user), :style=>"color:black;" %></b>
            <%= link_to image_tag('setting.png', :size => '40x40'), user_path(post.user), class: 'pull-right' %>
          </header>
          <%= link_to image_tag(post.thumbnail('680x680^', '680x680+0+0')), post_path(post) if post.image.attached? %>
          <div class='post-detail'>
            <div class='post-action'>
              <% if Favorite.exists?(user_id:current_user.id,post_id:post.id) %>
                <%= link_to 'いいね解除', post_favorites_path(post), method: :delete %>
              <% else %>
                <%= link_to 'いいね', post_favorites_path(post), method: :post %>
              <% end %>
              <%= link_to 'コメント', '#' %>
              <%= link_to 'DM', '#' %>
              <%= link_to '保存', '#' , class: 'pull-right' %>
            </div>
            <div class='post-info'>
              <% if post.favorites.present? %>
                <% if post.favorite_users.size > 1 %>
                  <b><%= post.favorite_users.first.username %></b>
                  、<b>他<%= (post.favorite_users.size - 1) %></b>人が「いいね！」しました
                <% else %>
                  <b><%= post.favorite_users.first.username %></b>が「いいね！」しました
                <% end %>
              <% else %>
              <% end %>
              <br><b><%= post.user.username %></b>
              <br><%= post.content %>
              <br><small><%= post.created_at.strftime('%Y年%m月%d日') %></small>
            </div>
            <div class='post-comment'>
              <div class='comment form'>
                コメントを追加
              </div>
              <div class='comment action submit-btn btn btn-default btn-sm pull-right'>
                投稿する
              </div>
            </div>
          </div>
        </article>
      <% end %>
    </div>
  </div>

  <div class='col-md-4'>
    <div class='sidebar-nav affix' >
      <div class=profile>
        <% if current_user.profile.icon.attached? %>
          <%= image_tag current_user.thumbnail('50x50^', '50x50+0+0'), class: "img-circle"%>
        <% else %>
          <%= image_tag 'no-image.png', :size => '50x50', class: 'img-circle' %>
        <% end %>
        <div class='profile username'>
          <b><%= current_user.username %></b>
        </div>
      </div>
      <div class='users'>
        <div>
          <div class='user-menu'>おすすめ</div>
          <div class='user-menu pull-right'>
            <%= link_to '全て見る', users_path, :style=>"color:black;"%>
          </div>
        </div>
        <% @users.each do |user| %>
          <div class='user-list'>
            <div class='user icon'>
              <% if user.profile.icon.attached? %>
                <%= image_tag user.thumbnail('40x40^', '40x40+0+0'), class: "img-circle"%>
              <% else %>
                <%= image_tag 'no-image.png', :size => '40x40', class: 'img-circle' %>
              <% end %>
            </div>
            <div class='user username'>
              <b><%= link_to user.username, user_path(user), :style=>"color:black;" %></b>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
