<header class='navbar navbar-fixed-top bg-white'>
  <div class='container'>
    <%= link_to 'Insta App', root_path, id: 'logo' %>
    <nav>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to 'Home', root_path %></li>
        <% if logged_in? %>
          <li><%= link_to 'Posts', '#' %></li>
          <li><%= link_to 'Notify', '#' %></li>
          <li><%= link_to 'Profile', '#' %></li>
          <li><%= link_to 'Log out', logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log in', login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
